@font-face {
    font-family: 'Clash Display';
    src: url('fonts/CLASHDISPLAY-SEMIBOLD.TTF') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    color: #d9d9d9;
    background-color: #222223;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
}

/*==================================================
  ===================== Header =====================
  ==================================================*/


header nav {
    background-color: #222223;
    padding: 1rem 0;
}

header>nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav img {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

header nav li {
    list-style-type: none;
    text-align: center;
    position: relative;
    margin: 0;
}

header nav a {
    display: block;
    width: 6em;
    border: 1px solid #222223;
    color: #fdc126;
    background-color: #222223;
    text-decoration: none;
    border-radius: 8px;
}

header nav a:hover {
    color: #fdc126;
    background-color: #222223;
}

header nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.3em 0.5em;
    width: auto;
    text-align: center;
    box-sizing: border-box;
}

header nav li ul a {
    font-size: 0.5em;
    width: 7em;
    text-align: center;
    padding: 0.4em 0.6em;
    border-color: #fdc126;
    line-height: 25px;
}

nav li:hover>ul {
    display: block;
}

header {
    background: #222223;
    color: #fdc126;
    padding: 1em 1em;
    text-align: center;
    border-bottom: 1px solid #fdc126;
    position: sticky;
    top: 0;
}

header li {
    font-family: "Clash Display";
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    align-self: center;
    justify-content: center;
}

header img:first-child {
    height: 100px;
}

header img:nth-child(4) {
    height: 70px;
}

header li a:hover {
    text-decoration: underline;
}

header p {
    font-size: 1.1rem;
}

/*================================================
  ===================== Main =====================
  ================================================*/

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

main nav {
    padding: 1em;
    background-color: #222223;
    margin: 1em;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

main nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

main nav li {
    list-style-type: none;
    text-align: center;
    position: static;
    margin: 0;
    padding: 0.5em;
}

main nav li a:link,
main nav li a:visited {
    display: block;
    width: 10em;
    height: 5em;
    border: 1px solid #fdc126;
    border-radius: 8px;
    color: #fdc126;
    background-color: #222223;
    text-decoration: none;
    padding: 0.5em 1em;
}

main nav li a:hover {
    background-color: #fdc126;
    color: #222223;
    border-radius: 8px;
    text-decoration: none;
}

figure {
    text-align: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #d9d9d9;
}

main>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

main>div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p {
    font-size: 1.1em;
}

div p {
    text-align: center;
    color: #d9d9d9;
}

section {
    background-color: #222223;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.5);
}

section>nav {
    position: static;
}

section>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
}

section>div>figure {
    flex: 0 0 auto;
    margin: 0;
}

section>div>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
    min-width: 300px;
}

#intro p {
    text-align: center;
    margin-bottom: 2rem;
}

#description img,
#realisation img, 
#outil img,
#philosophie img,
#rivalite img,
#mausolee img,
#vueParArabe img,
#croisade img,
#histoireA img,
#moderneA img,
#phareA img,
#portA img,
#museeA img,
#jardinsA img,
#catacombesA img,
#histoire img,
#pyramides img,
#sphinx img,
#unesco img, 
#musee img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

#oeuvres ul,
#lieux ul,
#personnages ul {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    scroll-behavior: smooth;
}

#oeuvres ul li,
#lieux ul li,
#personnages ul li {
    flex: 0 0 auto;
}

#oeuvres figure,
#lieux figure,
#personnages figure {
    width: 200px;
    height: 280px;
    padding: 1rem;
    margin: 0;
    background-color: #2a2a2b;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#infos figure img,
#oeuvres figure img,
#lieux figure img,
#personnages figure img,
#creation figure img,
#histoire figure img,
#pyramides figure img,
#outils figure img,
#sphinx figure img,
#unesco figure img,
#musee figure img,
#histoireA figure img,
#moderneA figure img,
#phareA figure img,
#portA figure img,
#museeA figure img,
#jardinsA figure img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
}

#infos figcaption,
#oeuvres figcaption,
#lieux figcaption,
#personnages figcaption,
#creation figcaption,
#histoire figcaption,
#pyramides figcaption,
#outils figcaption,
#sphinx figcaption,
#unesco figcaption,
#musee figcaption {
    font-size: 0.85em;
    text-align: center;
    margin-top: 0.5rem;
    line-height: 1.3;
}

#catacombesA figure {
    width: 200px;
    height: auto;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
}

section figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: #d9d9d9;
}

section ul {
    list-style-type: none;
    margin-left: 20px;
}

section p {
    text-align: justify;
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index figure {
    width: 700px;
    height: auto;
    margin: 0 auto;
}

#index h2 {
    text-align: center;
}

#index h2,
#lieux h2,
#histoire h2,
#personnages h2,
#oeuvres h2 {
    color: #fdc126;
}

section h2 {
    color: #d9d9d9;
    font-size: 1.8em;
    color: #fdc126;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    scroll-margin-top: 6em;
}

section figure img {
    width: 100%;
    height: auto;
    display: block;

}


section[id] {
    scroll-margin-top: 4em;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
}

aside ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

aside a {
    color: #fdc126;
    background-color: #222223;
}

aside a:hover {
    color: #d9d9d9;
    background-color: #222223;
}


hr {
    height: 2px;
    background-color: #fdc126;
    border-color: #fdc126;
    border-radius: 15px;
}

footer {
    background-color: #222223;
    color: #d9d9d9;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

/*==================================================
  ===================== Footer =====================
  ==================================================*/

footer ul {
    list-style: none;
    color: #fdc126;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 1rem 0 0 0;
}

footer a:link,
footer a:visited {
    color: #d9d9d9;
    text-decoration: none;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
}

/*==================================================
  =================== Media Query ==================
  ==================================================*/

@media screen and (max-width: 768px) {
    /* Header responsive */
    header {
        padding: 0.8em 0.5em;
    }

    header li {
        font-size: 1.2em;
    }

    header img:first-child {
        height: 80px;
    }

    header img:nth-child(4) {
        height: 55px;
    }

    header nav ul {
        gap: 8px;
    }

    header nav a {
        width: 5em;
        font-size: 0.9em;
    }

    header nav li ul a {
        font-size: 0.45em;
        width: 6.5em;
    }

    main {
        padding: 0 1rem;
    }

    /* Menu de navigation dans les pages (saladin.html et alexandrie.html) */
    main nav {
        margin: 0.5em;
        padding: 0.5em;
    }

    main nav ul {
        gap: 0.5rem;
    }

    main nav li {
        padding: 0.3em;
        flex: 1 1 45%;
        max-width: 45%;
    }

    main nav li a:link,
    main nav li a:visited {
        width: 100%;
        height: auto;
        min-height: 4em;
        padding: 0.5em;
        font-size: 0.9em;
    }

    /* Images dans les sections */
    #description img,
    #realisation img, 
    #outil img,
    #philosophie img,
    #rivalite img,
    #mausolee img,
    #vueParArabe img,
    #croisade img,
    #histoireA img,
    #moderneA img,
    #phareA img,
    #portA img,
    #museeA img,
    #jardinsA img,
    #catacombesA img,
    #histoire img,
    #pyramides img,
    #sphinx img,
    #unesco img, 
    #musee img {
        width: 100%;
        max-width: 350px;
    }

    aside {
        position: static;
        width: 100%;
        margin-top: 1rem;
    }

    aside ul {
        justify-content: center;
    }
}

/* Mobiles (480px et moins) */
@media screen and (max-width: 480px) {
    /* Header responsive */
    header {
        position: static;
        padding: 0.5em 0.3em;
    }

    header li {
        font-size: 1em;
        margin-bottom: 0.3rem;
    }

    header img:first-child {
        height: 60px;
    }

    header img:nth-child(4) {
        height: 45px;
    }

    header nav {
        padding: 0.5rem 0;
    }

    header nav ul {
        gap: 5px;
        flex-wrap: wrap;
    }

    header nav a {
        width: 4.5em;
        font-size: 0.75em;
        padding: 0.3em;
    }

    header nav li ul {
        padding: 0.2em 0.3em;
    }

    header nav li ul a {
        font-size: 0.4em;
        width: 6em;
        padding: 0.3em 0.4em;
        line-height: 20px;
    }

    header nav ul li {
        z-index: 1000;
    }

    /* Menu de navigation dans les pages */
    main nav {
        margin: 0.5em 0;
        padding: 0.5em;
    }

    main nav ul {
        flex-direction: column;
        width: 100%;
    }

    main nav li {
        padding: 0.3em;
        width: 100%;
        max-width: 100%;
    }

    main nav li a:link,
    main nav li a:visited {
        width: 100%;
        height: auto;
        min-height: 3.5em;
        padding: 0.8em 0.5em;
        font-size: 0.85em;
    }

    main>div,
    section>div {
        flex-direction: column;
        align-items: center;
    }

    section>div>figure,
    section>div>div {
        width: 100%;
        max-width: 400px;
    }

    /* Images dans les sections */
    #description img,
    #realisation img, 
    #outil img,
    #philosophie img,
    #rivalite img,
    #mausolee img,
    #vueParArabe img,
    #croisade img,
    #histoireA img,
    #moderneA img,
    #phareA img,
    #portA img,
    #museeA img,
    #jardinsA img,
    #catacombesA img,
    #histoire img,
    #pyramides img,
    #sphinx img,
    #unesco img, 
    #musee img {
        width: 100%;
        max-width: 300px;
    }

    #oeuvres figure,
    #lieux figure,
    #personnages figure {
        width: 150px;
        height: 220px;
    }
}