@font-face {
    font-family: 'Clash Display';
    src: url('fonts/CLASHDISPLAY-SEMIBOLD.TTF') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.6;
    color: #d9d9d9;
    background-color: #222223;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3em;
}

/*==================================================
  ===================== Header =====================
  ==================================================*/


header nav {
    background-color: #222223;
    padding: 1rem 0;
}

header > nav {
    position : sticky;
    top : 0;
    z-index: 1000;
}

header nav img {
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

header nav li {
    list-style-type: none; 
    text-align: center;
    position: relative;
    margin: 0;
}

header nav a { 
    display: block;
    width: 6em;
    border: 1px solid #222223;
    color: #fdc126;
    background-color: #222223; 
    text-decoration: none;
    border-radius: 8px;
}

header nav a:hover { 
    color: #fdc126;
    background-color: #222223; 
}

header nav li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.3em 0.5em;
    width: auto;
    text-align: center;
    box-sizing: border-box;
}

header nav li ul a {
    font-size: 0.5em;
    width: 7em;
    text-align: center;
    padding: 0.4em 0.6em;
    border-color: #fdc126;
    line-height: 25px;
}

nav li:hover > ul { 
    display: block; 
}

header {
    background: #222223;
    color: #fdc126;
    padding: 1em 1em;
    text-align: center;
    border-bottom: 1px solid #fdc126;
    position: sticky;
    top: 0;
}

header li {
    font-family: "Clash Display";
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    align-self: center;
    justify-content: center;
}

header img:first-child {
    height: 100px;
}

header img:nth-child(4) {
    height: 70px;
}

header li a:hover {
    text-decoration: underline;
}

header p {
    font-size: 1.1rem;
}

/*================================================
  ===================== Main =====================
  ================================================*/

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

main nav {
    box-shadow: 1px 1px 10px #fdc126;
    padding : 1em;
    background-color : #222223;
    margin : 1em;
    border-radius : 8px;
    display: flex;
    justify-content : center;
}

main nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

main nav li a:link,
main nav li a:visited {
    display: block;
    width: 8em;
    border: 1px solid #222223;
    color: #fdc126;
    background-color: #222223; 
    text-decoration: none;
    padding: 0.5em 1em;
}

main nav li a:hover {
    background-color: #fdc126;
    color: #222223;
    border-radius: 8px;
    text-decoration: none;
}

figure {
    text-align: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #d9d9d9;
}

div p {
    text-align: center;
    color: #d9d9d9;
}

section {
    background-color: #222223;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.5);
}

section > nav{
    position:static;
}

section > div{
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
}

section > div > div{
    display: flex;
    flex-direction : column;
    flex-wrap : wrap;
    justify-content : center;
}

#oeuvres ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

section figure {
    width: 150px;
    height: auto;
    border-radius: 8px;
    padding: 3em;
}

section figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.9em;
    color: #d9d9d9;
}

section ul {
    list-style-type: none;
    margin-left: 20px;
}


#index figure {
    width: 300px;
    height: auto;
}

#index h2 {
    text-align: center;
}

#index h2,
#lieux h2,
#histoire h2,
#personnages h2,
#oeuvres h2 {
    color: #d9d9d9;
}

section h2 {
    color: #d9d9d9;
    font-size: 1.8em;
    color: #fdc126;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    scroll-margin-top: 6em;
}

section figure img {
    width:150px;
    height: auto;
}

#rivalite img{
    position:relative;
    z-index: 1;
    transform: rotate(270deg);
}

section[id] {
    scroll-margin-top: 4em;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
}

aside ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

aside a {
    color: #fdc126;
    background-color: #222223;
}

aside a:hover {
    color: #d9d9d9;
    background-color: #222223;
}


hr{
    height: 2px;
    background-color: #fdc126;
    border-color: #fdc126;
    border-radius: 15px;
}

footer {
    background-color: #222223;
    color: #d9d9d9;
    text-align: center;
    padding: 2rem;
    margin-top: 3rem;
}

/*==================================================
  ===================== Footer =====================
  ==================================================*/

footer ul { 
    list-style: none;
    color: #fdc126;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 1rem 0 0 0;
}

footer a:link,
footer a:visited {
    color: #d9d9d9;
    text-decoration: none;
}

footer a:hover,
footer a:active {
    text-decoration: underline;
}